<%- include('partials/_header') %>

<p><br></p>
<p>Something odd happened. It might be related to the e-mail provided or the URL.</p>

<p><div class="alert alert-danger" role="alert"><%= msg%></div></p>

<p align=center>
  <br><input type="button" value="Back" onclick="history.back(-1)" class="btn btn-primary btn-lg">
</p>

<%- include('partials/_footer') %>
