<%- include('partials/_header') %>

<h1 align=center>Welcome!</h1>
<p><br></p>
<p>We are the neighborhood friendly way to schedule a meeting with your friends, providing them with options
  of dates and time to choose from.
  <br>There is no need to register or pay for anything. Just create a proposal and send them a link to the
  page for your event and you're set to go!
</p>
<p>Schoodle is a midterm project for the <a href="https://www.lighthouselabs.ca/web-bootcamp" target="blank">Lighthouse
    Lab's Web Development Bootcamp</a>, <B>2020-Jan Calgary Cohort</B>.</p>

<p><br>We just need your email to get you started!</p>

<form method="GET" action="/events">
  <div class="form-group">
    <div class="form-group row">
      <label for="organizerEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="organizerEmail" name="organizerEmail">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-10">
        <button type="submit" class="btn btn-primary btn-lg">Start</button>
      </div>
    </div>
  </div>
</form>

<%- include('partials/_footer') %>